/* GENERAL
========================= */
body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Comfortaa', sans-serif;
  background-color: #d2d8d1;
}
h1 {font-size: 48px;}
h2 {font-size: 40px;}
h3 {font-size: 32px;}
h4 {font-size: 24px;}
h5 {font-size: 16px;}
h6 {font-size: 16px;}

.button {
  position: relative;
  z-index: 5;
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  background: #c9d0c7;
  border-radius: 50px;
  cursor: pointer;
}
.button:hover {
  color: #fff;
  background: #000;
}

/* WRAPPER
========================= */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 100%;
  transform: translate(-50%, -50%);
}

/* HEADER
========================= */
.header {
  margin-bottom: 30px;
}
.title {
  margin-bottom: 30px;
  font-size: 150px;
  letter-spacing: -5px;
  color: #fff;
  text-transform: lowercase;
}
.subtitle {
  font-size: 28px;
  line-height: 36px;
  color: #000;
}

/* CONTENT
========================= */
.content {
  position: relative;
}
.content__info {
  position: absolute;
  top: 65%;
  left: 60%;
  z-index: 10;
  display: inline-block;
  text-align: center;
}
.content__info-heading {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.3em;
  text-transform: uppercase;
}
.content__info-logo {
  width: 300px;
}
.background {
  display: block;
  width: 100%;
}

/* RESPONSIVE
========================= */
@media screen and (max-width: 1024px) {
  .title {
    font-size: 100px;
  }
  .subtitle {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 70px;
    letter-spacing: -2px;
  }
  .content__info {
    position: static;
    z-index: 10;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 50px;
  }
}
