/* GENERAL
========================= */
body {
  font-family: 'Comfortaa', sans-serif;
}
h1 {font-size: 48px;}
h2 {font-size: 40px;}
h3 {font-size: 32px;}
h4 {font-size: 24px;}
h5 {font-size: 16px;}
h6 {font-size: 16px;}

.button {
  position: relative;
  z-index: 5;
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  background: #c9d0c7;
  border-radius: 50px;
  cursor: pointer;
}
.button:hover {
  color: #fff;
  background: #000;
}

/* HEADER
========================= */
.header {
  padding: 30px;
  background-color: #fff;
  overflow: hidden;
}
.logo {
  display: inline-block;
  width: 500px;
}
.tagline {
  display: inline-block;
  font-size: 32px;
}
.stork {
  position: relative;
  bottom: -40px;
  display: inline-block;
  width: 100%;
}

/* CONTENT
========================= */
.content {
  position: relative;
}
.content-inner {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 5;
  width: 100%;
  padding: 30px 60px;
  transform: translate(-50%, 0);
}
.arriving-soon {
  display: block;
  width: 100%;
  opacity: 0.40;
}
.background {
  display: block;
  width: 100%;
}

/* RESPONSIVE
========================= */
@media screen and (max-width: 1024px) {
  .logo {
    width: 350px;
  }
  .tagline {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 50px 30px 0 30px;
  }
  .logo {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .tagline {
    font-size: 18px;
  }
  .stork {
    bottom: -10px;
  }
  .content {
    height: 400px;
    background: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
  }
  .content-inner {
    bottom: 0;
    height: 100%;
    text-align: center;
  }
  #open-popup {
    top: -47px;
  }
  .arriving-soon {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 5;
    text-align: center;
    width: calc(100% - 40px);
  }
  .background {
    display: none;
  }
}